.login-page{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__card{
        border: 1px solid #0003;
        border-radius: 24px;
        width: 500px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }   
}